:root {
  --primary-color: #00bcd4;
  --secondary-color: #757575;
  --accent-color: #0097a7;
  --background-color: #def2f5;
  --shadow-color: rgba(15, 66, 143, 0.2);
}

body {
  text-align: center;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  color: var(--accent-color);
  margin-bottom: 0;
  margin-top: 5;
}

h2 {
  padding-bottom: 0px;
  margin-bottom: 0;
}
h3 {
  margin-top: 5;
}
img {
  border-radius: 10px;
  max-width: 100px;
  background-color: var(--background-color);
}
button {
  color: white;
  background-color: var(--accent-color);
  border: 1px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 10px 15px var(--shadow-color);
}
p {
  margin-bottom: 30px;
}

.hero {
  background-color: var(--background-color);
  padding-bottom: 24px;
}
.hero h2 {
  padding-top: 24px;
}
.launch-app-button {
  color: white;
  text-decoration: none;
  background-color: var(--accent-color);
  border: 1px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 10px 15px var(--shadow-color);
}

.buttons {
  display: block;
  margin: 0;
}

.about-button {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.container-app {
  margin: 0 auto;
  margin-left: 60px;
  margin-right: 60px;
  padding: 20px;
  padding-bottom: 40px;
}
.about-introduction {
  display: flex;
}
.about-intro {
  text-align: left;
  background-color: var(--background-color);
  padding-bottom: 50px;
}
.email-link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 400;
}
.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
